<!DOCTYPE html>
<html>
  <head>
     <title>Face Recognition</title>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

   		<script type="text/javascript">
		 var data = JSON.parse('{{ data | tojson | safe}}');
		 if (data!= ''){
		 	alert(data);
		 }




     $(document).ready(function(){
          $("#knock").click(function(){
            let i =25;
            setInterval(function(){

             $("#time-left").html("Time Left: "+i);
             i--;
           }, 1000);

              
          });

          $("#stop").click(function(){
            $("#time-left").html("");
          });
      });

   		</script>
      <style type="text/css">
        .options_form{
          margin: auto;
          width: 50%;
          margin-top: 20%;
          text-align: center;
          margin-bottom: 20px;
        }

        .learn_face{
          margin: auto;
          width: 50%;
        }
      </style>
  </head>
  <body>
    <div class='options_form'>

    <form action='/find_face' method='post'>
      <input id = "knock" type="submit" value= "Knock"/>
    </form>
    <form action='/stop_learn' method='post'>
      <input type="hidden" name="stop" value="true"/>
      <input id="stop" type="submit" value = "stop"/>
    </form>
    <div style="height: 20px"></div>
    <form id='learn_face' action='/learn' method='post'>
      <label for="name">Password</label><input type="password" name="password"/>
      <br>
      <input type="submit" value= "Learn Mode"/>
    </form>
    <p id="time-left"></p>
  </div>
  
  </body>
</html> 
<html>

