<!DOCTYPE html>
<html>
  <head>
     <title>Face Recognition</title>
   		<script type="text/javascript">
		 var data = JSON.parse('{{ data | tojson | safe}}');
		 if (data!= ''){
		 	alert(data);
		 }
   		</script>
      <style type="text/css">
        .options_form{
          margin: auto;
          width: 50%;
          margin-top: 20%;
          text-align: center;
          margin-bottom: 20px;
        }

       
      </style>
  </head>
  <body>
    <div class='options_form'>
    <form  action='/learn_face' method='post'>
      <input type="text" name="name"/>
      <input type="submit" value= "learn"/>
    </form>
    <form action='/stop_learn' method='post'>
      <input type="hidden" name="stop" value="true"/>
      <input type="submit" value = "stop"/>
    </form>
    <div style="height: 20px"></div>
    <a href="/" >Identify Mode</a>
  </div>
  </body>
</html> 
<html>

